.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}

.image-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
}

body {
  margin: 0
}

.column {
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.icon-wrapper{
  display: fixed;
  background-color: white;
  height: 20px;
  width: 20px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-wrapper {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100vw;
  background-color: black;
  justify-content: space-between;
}

.date {
  color: white;
}

@media (max-width: 600px) {
  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
  }
  
  .image-container {
    display: table;
    width: 100vw;
    height: 100vh;
  }
  
  .column {
    float: none;
    width: 100%;
    position: relative;
    text-align: center;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  .date {
    visibility: hidden;
    clear: both;
    float: right;
    display: none;
  }
}